langchain
langchain-core
langchain-community
pypdf
pymupdf
psycopg2-binary 
pgvector
langchain-groq
groq
python-dotenv
langchain-huggingface
langchain-text-splitters
flask 
flask-cors
pyspellchecker
gunicorn
sentence-transformers
gevent